@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    
}

.category-button {
    transition: all 0.3s ease;
  }
  
.category-button:hover:not(:disabled) {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}